{% extends "KwejkLayoutBundle::layout.html.twig" %}

{% block title %}Lista Memów{% endblock %}

{% block body %}


        
    {% for mem in mems %}
        
            <div class="row">
                

                    <div class="row">
                        <a href="{{path('kwejk_mems_show', {'slug':mem.slug})}}">
                            <h3>{{ mem.title }}</h3>
                            <img src="{{asset ('uploads/mems/' ~ mem.imageName)}}" alt="{{mem.title}}" class="img-rounded">
                        </a>
                    </div>

                </div>
            
    {% endfor %}

{% endblock %}
